body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  font-size: 1rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.host {
  background-color: beige;
  padding: 10px;
}
